<div id="landing">
  <div class="landing-title">

    <img src="https://media.giphy.com/media/xTiIzJSKB4l7xTouE8/giphy.gif">
    <h1>Hi, I&#39;m
      <span class="highlight-title">{{Data.username}}</span>,
    </h1>
    <h1>
      <span id="txt-rotate" data-period="1000" data-rotate='["{{Data.typing_text}}", "scroll down for more."]'>
      </span>
    </h1>
    <div class="landing-icons">
      {{#if Data.email}}
      <a class="social-link email" aria-label="My E-Mail" href="mailto:{{Data.email}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/solid.svg#envelope"></use>
          </svg>
        </div>
        <span class="label">E-Mail</span>
      </a>
      {{/if}}

      {{#if Data.telegram_username}}
      <a class="social-link telegram" aria-label="My Telegram" target="_blank" rel="noreferrer"
        href="https://telegram.me/{{Data.telegram_username}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#telegram-plane">
            </use>
          </svg>
        </div>
        <span class="label">Telegram</span>
      </a>
      {{/if}}

      {{#if Data.linkedin_username}}
      <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" rel="noreferrer"
        href="https://www.linkedin.com/in/{{Data.linkedin_username}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#linkedin-in">
            </use>
          </svg>
        </div>
        <span class="label">LinkedIn</span>
      </a>
      {{/if}}

      {{#if Data.github_username}}
      <a class="social-link github" aria-label="My GitHub" target="_blank" rel="noreferrer"
        href="https://github.com/{{Data.github_username}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href=" /img/brands.svg#github ">
            </use>
          </svg>
        </div>
        <span class="label">GitHub</span>
      </a>
      {{/if}}

      {{#if site.viber_number}}
      <a class="social-link viber" aria-label="My Viber" target="_blank" rel="noreferrer"
        href="viber://chat?number={{Data.viber_number}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#viber"></use>
          </svg>
        </div>
        <span class=" label">Viber</span>
      </a>
      {{/if}}

      {{#if site.instagram_username}}
      <a class="social-link instagram" aria-label="My Instagram" target="_blank" rel="noreferrer"
        href="https://www.instagram.com/{{Data.instagram_username}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#instagram">
            </use>
          </svg>
        </div>
        <span class="label">Instagram</span>
      </a>
      {{/if}}


      {{#if site.facebook_username}}
      <a class="social-link facebook" aria-label="My Facebook" target="_blank" rel="noreferrer"
        href="https://facebook.com/{{site.facebook_username}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>

        <div class="social">
          <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#facebook-f">
            </use>
          </svg>
        </div>
        <span class=" label">Facebook</span>
      </a>
      {{/if}}
    </div>
  </div>
</div>