<h1 class="title">{{Data.contact_title}}</h1>
<p class="subtitle">{{Data.contact_description}}</p>

<div class="contact-icons">
  {{#if Data.email}}
  <a class="social-link" aria-label="My E-Mail" href="mailto:{{Data.email}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/solid.svg#envelope ">
        </use>
      </svg>
    </div>
  </a>
  {{/if}}

  {{#if Data.telegram_username }}
  <a class="social-link telegram" aria-label="My Telegram" target="_blank" rel="noreferrer"
    href="https://telegram.me/{{Data.telegram_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#telegram-plane"></use>
      </svg>
    </div>
  </a>
  {{/if}}

  {{#if Data.linkedin_username}}
  <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" rel="noreferrer"
    href="https://www.linkedin.com/in/{{Data.linkedin_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#linkedin-in">
        </use>
      </svg>
    </div>
  </a>
  {{/if}}

  {{#if Data.github_username }}
  <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
    href="https://github.com/{{Data.github_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#github"></use>
      </svg>
    </div>
  </a>
  {{/if}}

  {{#if Data.viber_number}}
  <a class="social-link" aria-label="My Viber" target="_blank" rel="noreferrer"
    href="viber://chat?number={{Data.viber_number}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#viber"></use>
      </svg>
    </div>
  </a>
  {{/if}}

  {{#if Data.instagram_username}}
  <a class="social-link instagram" aria-label="My Instagram" target="_blank" rel="noreferrer"
    href="https://instagram.com/{{Data.instagram_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#instagram"></use>
      </svg>
    </div>
  </a>
  {{/if}}

  {{#if Data.facebook_username }}
  <a class="social-link facebook" aria-label="My Facebook" target="_blank" rel="noreferrer"
    href="https://facebook.com/{{Data.facebook_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" href="/img/brands.svg#facebook-f"></use>
      </svg>
    </div>
  </a>
  {{/if}}
</div>