{{#if Data}}
<h1 class="title">{{Data.os_projects_title}}</h1>

<div class="projects-wrapper">
  {{#each projects}}
  <div class="project neumorphism-card" data-aos="zoom-in-down">
    <div class="name-link-wrapper">
      <h3 style="color: white">{{this.name}}</h3>
      <div class="links">

      </div>
    </div>
    <p class="project-desc">{{this.description}}</p>

    <a class="highlight-link" href="{{this.git-url}}" target="_blank" rel="noreferrer">
      GitHub
    </a>
    {{#if this.web-url}}
    <div class="landing-icons" style="justify-content: right">
      <a class="social-link telegram" aria-label="Website" target="_blank" rel="noreferrer"
        href="https://{{site.github_username}}.github.io/{{this.name}}">
        <svg viewBox="0 0 200 200" class="circle">
          <circle cx="100" cy="100" r="80" />
        </svg>
        <div class="social">
          <svg class="social-svg" viewBox="0 0 24 24">
            <use x="6" y="6" width="12" height="12" viewBox="0 0 24 24" href="/img/solid.svg#globe">
            </use>
          </svg>
        </div>
      </a>
    </div>
    {{/if}}
    <div class="tag-wrapper">
      {{#each this.tags}}
      <span class="tag neumorphism-card">{{tag}}</span>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
{{/if }}