<h1 class="title">{{Data.timeline_title}}</h1>
<p class="subtitle">
  For more information, have a look at my
  <a class="highlight-link" href="{{Data.cv_download_link}}" target="_blank" rel="noreferrer">
    CV
  </a>.
</p>

<div class="timeline-wrapper">
  <ul class="timeline">
    {{#each timeline}}
    {{#ifLeft this}}
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="hexagon"></span>
          <span class="flag neumorphism-button" data-aos="zoom-in-right">
            <a href="{{this.title-url}}" target="_blank" rel="noreferrer">
              <span>{{this.title}}</span>
            </a>
          </span>
          <span class="time-wrapper" data-aos="zoom-in-right">
            <span class="time neumorphism-card">{{this.date}}</span>
          </span>
        </div>
        <div class="desc neumorphism-card" this-aos="zoom-in-right">
          {{this.subtitle}}
          {{#each this.tags}}
          <div class="tag-wrapper">
            <span class="tag neumorphism-card">{{this.tag}}</span>
          </div>
          {{/each}}
        </div>
      </div>
    </li>
    {{/ifLeft}}
    {{!-- {{/each}} --}}

    {{!-- {{#each timeline}} --}}
    {{#ifRight this}}
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexagon"></span>
          <span class="flag neumorphism-button" data-aos="zoom-in-left">
            <a href="{{this.title-url}}" target="_blank" rel="noreferrer">
              <span>{{this.title}}</span>
            </a>
          </span>
          <span class="time-wrapper" data-aos="zoom-in-left">
            <span class="time neumorphism-card">{{this.date}}</span>
          </span>
        </div>
        <div class="desc neumorphism-card" data-aos="zoom-in-left">
          {{this.subtitle}}
          {{#each this.tags}}
          <div class="tag-wrapper">
            <span class="tag neumorphism-card">{{this.tag}}</span>
          </div>
          {{/each}}
        </div>
      </div>
    </li>
    {{/ifRight}}
    {{/each}}
  </ul>
</div>